body {
  margin: 1rem;
  background: rgb(189,10,10);
  background: radial-gradient(circle, rgba(189,10,10,1) 0%, rgba(121,24,24,1) 66%, rgba(0,0,0,1) 100%); ;
  color: whitesmoke;
  height: 779px;
  /* border: 2px solid; */
}


.header-Title {
  font-family: "Limelight", serif;
  margin: 0;
  width: 50%;
  letter-spacing: .03rem;
  color: whitesmoke;
  text-decoration: none;
  
}



header {
  background-image: url("./movie-copy.jpg");
  background-size: cover;
  height: 208px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 1rem;
  gap: 6rem;
}

input {
  background-color: rgba(243, 230, 230, 0.0);
  box-shadow: 1px 1px 4px rgb(189,10,10);
  border: none;
  border-radius: 6px;
  color: white;
  height: 38px;
  width: 342px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-input {
  margin-top: 0px;
  display: flex;
  justify-content: center;

}

::placeholder {
  text-align: start;
  padding: 5px;
  color: rgb(197, 176, 176);
}

.search-btn {

  width: 120px;
  height: 39px;
  background-color:  rgb(243, 230, 230, 0.0);
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 1px 1px 4px rgb(189,10,10)
}


.watchList-btn {
  background-color: transparent;
  font-family: "Limelight", serif;
  color: aliceblue;
  border: none;
  letter-spacing: .03rem;
  text-decoration: none;
}

.card-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card-div {
  width: 21%;
  background-color: rgb(189,10,10, 0.2);
  margin: 1rem;
  border-radius: 20px;
  padding: 1rem;

}

.movie-image {
  border-radius: 10px;
}